
.container{
    max-width: 1680px;
    margin: 0 auto;
    padding-top: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    padding-left: 100px;
}
nav ul{
    display: flex;
    grid-gap: 0 30px;
    list-style-type: none;
    color: #3A5F56;
   

}
nav{
    display: flex;
    grid-gap: 0 30px;
    padding-right: 90px;
}
button{
   color: aliceblue;
   background-color: #3A5F56;
   width: 122px;
   height: 44px;
   border-radius: 10px;


}

.header-info{
    background: #F4F3F0;
    min-height: 100vh;
   
   
}
.flex-container{
 display: flex;
 justify-content: space-between;
 padding: 0 70px;

}
.twxt h1{
    padding-left: 50px;
  
   padding-top: 336px;
    width: 477px;
    color: #3A5F56;
    font-family: Source Serif Pro;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 57.6px; /* 120% */
}
.pic{
    padding-top: 100px;
    padding-left: 16px;
   
   
}

p{
    padding-left: 50px;
    width: 650px;
    color: #292C32;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px; /* 140% */
}
.but{
    padding-left: 50px;
}



